<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BveFileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BveFileExplorer.Properties.Settings>
            <setting name="RouteFileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AtsPluginFileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="cbMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strBve5Path" serializeAs="String">
                <value />
            </setting>
            <setting name="strBve6Path" serializeAs="String">
                <value />
            </setting>
            <setting name="DetailManager64Path" serializeAs="String">
                <value />
            </setting>
            <setting name="AtsPluginFilePath" serializeAs="String">
                <value />
            </setting>
        </BveFileExplorer.Properties.Settings>
    </userSettings>
</configuration>