<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BveFileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BveFileExplorer.Properties.Settings>
            <setting name="RouteFileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AtsPluginFileDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="cbMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strBve5Path" serializeAs="String">
                <value />
            </setting>
            <setting name="strBve6Path" serializeAs="String">
                <value />
            </setting>
            <setting name="DetailManager64Path" serializeAs="String">
                <value />
            </setting>
            <setting name="AtsPluginFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="strStrviewPath" serializeAs="String">
                <value />
            </setting>
        </BveFileExplorer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
